---
import Layout from '../layouts/Layout.astro';
import Chart from '../components/Chart.astro'  
import ChartZoom from '../components/ChartZoom.astro'  
---

<Layout title="Estadística">
  <div class="container">
    <ChartZoom />
  </div>
</Layout>