---
import Layout from '../layouts/Layout.astro';
import ChartComponent from '../components/ChartComponent.astro'  
---

<Layout title="Estadística">
  <div class="container">
    <ChartComponent />
  </div>
</Layout>


