---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/Dashboard.astro';
import { supabase } from "../data/supabase";

let { data: humedad, error: humedadError } = await supabase
  .from("humedad")
  .select("*");
if (humedadError) {
  console.error("Error fetching humedad data:", humedadError);
}
---

<Layout title="Humedad">
    <h1>Humedad</h1>
    <Dashboard title="Humedad" , backgroundColor="#FF6B6B" data={humedad} />
</Layout>


