---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Hidroponia">
	<main>
		<h1>Hidroponia</h1>
		<ul role="list" class="link-card-grid">
			<Card
				route="/ph"
				bgFirst="#439BFF"
				bgSecond="#71B3FF"
				title="PH"
				subtitle="Nivel de PH"
				valor={0}
				valor2={0}
				fecha=""
				hora=""
			/>
			<Card
				route="/nivel_agua"
				bgFirst="#FFAA6B"
				bgSecond="#FFBB7F"
				title="Nivel de Agua"
				subtitle="Nivel de agua aproximado"
				valor={0}
				valor2={0}
				fecha=""
				hora=""
			/>
			<Card
				route="/temperatura"
				bgFirst="#FFC700"
				bgSecond="#FFD700"
				title="Temperatura"
				subtitle="Nivel de temperatura aproximado"
				valor={0}
				valor2={0}
				fecha=""
				hora=""
			/>
			<Card
				route="/humedad"
				bgFirst="#FF6B6B"
				bgSecond="#FF7F7F"
				title="Humedad"
				subtitle="Nivel de humedad aproximado"
				valor={0}
				valor2={0}
				fecha=""
				hora=""
			/>
			<Card
				route="/luz"
				bgFirst="#AA6BFF"
				bgSecond="#B67FFF"
				title="Luz"
				subtitle="Nivel de luz aproximado"
				valor={0}
				valor2={0}
				fecha=""
				hora=""
			/>
			<Card
				route="/mantenimiento"
				bgFirst="#33c7a9"
				bgSecond="#33c7a9"
				title="Mantenimiento"
				subtitle="Nivel de mantenimiento aproximado"
				valor={0}
				valor2={0}
				fecha=""
				hora=""
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
