---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/Dashboard.astro';
import { supabase } from "../data/supabase";
import { checkAuthentication } from "../utils/authUtils";

const authResult = await checkAuthentication(Astro);
if (authResult instanceof Response) {
  return authResult;
}

let { data: luz, error: luzError } = await supabase.from("luz").select("*");
if (luzError) {
  console.error("Error fetching luz data:", luzError);}
---

<Layout title="Luz">
  <div class="container">
    <Dashboard title="Luz" , backgroundColor="#AA6BFF" data={luz} />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>