---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/Dashboard.astro';
import { supabase } from "../data/supabase";
import { checkAuthentication } from "../utils/authUtils";

const authResult = await checkAuthentication(Astro);
if (authResult instanceof Response) {
  return authResult;
}

let { data: mantenimiento, error: mantenimientoError } = await supabase.from("mantenimiento").select("*");
if (mantenimientoError) {
  console.error("Error fetching luz data:", mantenimientoError);
}
---

<Layout title="Mantenimiento">
  <div class="container">
    <Dashboard title="Mantenimiento" , backgroundColor="#33c7a9" data={mantenimiento} />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>