---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/Dashboard.astro';
import { supabase } from "../data/supabase";

let { data: pH, error: pHError } = await supabase.from("pH").select("*");
if (pHError) {
  console.error("Error fetching pH data:", pHError);}
---

<Layout title="PH">
  <div class="container">
    <Dashboard title="PH" backgroundColor="#439BFF" data={pH} />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>