---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/Dashboard.astro';
import { supabase } from "../data/supabase";

let { data: temperatura, error: temperaturaError } = await supabase
  .from("temperatura")
  .select("*");
if (temperaturaError) {
  console.error("Error fetching temperatura data:", temperaturaError);}
---

<Layout title="Temperatura">
  <div class="container">
    <Dashboard title="Temperatura" backgroundColor="#FFC700" data={temperatura} />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
