<div class="inner__brand">
  <div>
    <img
      class="brand__logo radius-large"
      src="/hidroponia.png"
      alt="Logo Hidroponía"
    />
  </div>
  <div class="brand__text">
    <span>Hidroponía Dashboard</span>
    <span>Monitoreo del sistema hidropónico</span>
  </div>
</div>

<style>
  .inner__brand {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .brand__logo {
    max-width: 50px;
  }

  .brand__text {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }

  .brand__text > :first-child {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .brand__text > :last-child {
    font-size: 0.875rem;
  }
</style>
