---
---

<div>
    <canvas id="myChart" width="450" height="220"></canvas>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
  
      import { supabase } from "../data/supabase";
      import Chart from 'chart.js/auto';
  
      let { data: humedad, error: humedadError } = await supabase
      .from("humedad")
      .select("*");
      if (humedadError) {
      }
  
      const valores = humedad?.map(objeto => {
      return objeto.valor;
      });
  
      const fechita = humedad?.map(objeto => {
      return objeto.fecha;
      });
  
  
      const ctx = document.getElementById('myChart');
  
      new Chart(ctx, {
          type: 'bar',
          data: {
          labels: fechita,
          datasets: [{
              label: 'Humedad',
              data: valores,
              borderWidth: 1
          }]
          },
          options: {
          scales: {
              y: {
              beginAtZero: true
              }
          }
          }
      });
  </script>
  