<div>
    <canvas id="myChart" width="450" height="220"></canvas>
    <canvas id="mySecondChart" width="450" height="220"></canvas>
</div>

<script>
    import Chart from 'chart.js/auto';
    import zoomPlugin from 'chartjs-plugin-zoom';
    import { obtenerDatos } from "../utils/supabaseUtils.js";

    Chart.register(zoomPlugin);

    const humedadCampos = { valor: "valor", fecha: "fecha" };
    const { valores: valoresHumedad, fechas: fechitaHumedad } = await obtenerDatos("humedad", humedadCampos);

    const temperaturaCampos = { valor: "valor", fecha: "fecha" };
    const { valores: valoresTemp, fechas: fechitaTemp } = await obtenerDatos("temperatura", temperaturaCampos);

    const nivel_aguaCampos = { valor: "valor", fecha: "fecha" };
    const { valores: valoresNivelAgua, fechas: fechitaNivelAgua } = await obtenerDatos("nivel_agua", nivel_aguaCampos);

    const luzCampos = { valor: "valor", fecha: "fecha" };
    const { valores: valoresluz, fechas: fechitaluz } = await obtenerDatos("luz", luzCampos);

    const phCampos = { valor: "valor", fecha: "fecha" };
    const { valores: valoresPH, fechas: fechitaOH } = await obtenerDatos("pH", phCampos);

    const ctx1 = (document.getElementById('myChart') as HTMLCanvasElement).getContext('2d');
    const ctx2 = (document.getElementById('mySecondChart') as HTMLCanvasElement).getContext('2d');

    const commonData = {
        labels: fechitaHumedad,
        datasets: [
            {
                label: 'Humedad',
                data: valoresHumedad,
                borderColor: 'rgba(255, 0, 0, 1)', 
                borderWidth: 4,
                yAxisID: 'y'
            },
            {
                label: 'Temperatura',
                data: valoresTemp,
                borderColor: 'rgba(255, 255, 0, 1)',
                borderWidth: 4,
                yAxisID: 'y'
            },
            {
                label: 'Nivel de Agua',
                data: valoresNivelAgua,
                borderColor: 'rgba(255, 165, 0, 1)', 
                borderWidth: 4,
                yAxisID: 'y'
            },
            {
                label: 'Luz',
                data: valoresluz,
                borderColor: 'rgba(128, 0, 128, 1)', 
                borderWidth: 4,
                yAxisID: 'y'
            },
            {
                label: 'pH',
                data: valoresPH,
                borderColor: 'rgba(0, 255, 255, 1)',
                borderWidth: 4,
                yAxisID: 'y'
            }
        ]
    };

    const commonOptions = {
        scales: {
            y: {
                beginAtZero: true,
                position: 'left' as const
            }
        },
        plugins: {
            zoom: {
                pan: {
                    enabled: true,
                    mode: 'xy' as const
                },
                zoom: {
                    wheel: {
                        enabled: true
                    },
                    pinch: {
                        enabled: true
                    },
                    mode: 'xy' as const
                }
            }
        }
    };

    new Chart(ctx1, {
        type: 'line',
        data: commonData,
        options: commonOptions
    });

    new Chart(ctx2, {
        type: 'bar',
        data: commonData,
        options: commonOptions
    });

</script>


