<div class="login__footer text-neutral-700">
    <p><em>Incrementando el verde para su futuro.</em></p>
  </div>
  
  <style>
    .login__footer {
      padding-bottom: 0.5rem;
      padding-top: 5.5rem;
  
      @media (min-width: 768px) {
        padding-bottom: 0;
      }
    }
  </style>
  