---
// src/components/MenuItem.astro
import { Icon } from 'astro-icon/components'
const { href, icon, text, isActive } = Astro.props
---

<li>
  <a href={href} class={`menu-item ${isActive ? 'active' : ''}`}>
    <Icon class="menu-icon" name={icon} />
    <span class="menu-text">{text}</span>
  </a>
</li>

<style>
  .menu-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: var(--sidebar-text);
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 1rem; 
  }

  .menu-item:hover,
  .menu-item.active {
    background-color: var(--sidebar-hover);
  }

  .menu-text {
    flex-grow: 1;
  }


  .menu-icon {
    margin-right: 1rem;
    font-size: 1.5rem; 
  }
</style>
