---
// src/components/SidebarHeader.astro
---

<div class="sidebar-header">
    <div class="brand-logo">
      <img src="/hidroponia.png" alt="Logo" />
      <h2>Sistema Hidropónico</h2>
    </div>
  </div>
  
  <style>
    .sidebar-header {
      padding: 1.6rem;
      background-color: var(--sidebar-header-bg);
      text-align: center;
    }
  
    .brand-logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      color: var(--brand-logo-text);
      background-color: var(--brand-logo-bg);
    }
  
    .brand-logo img {
      max-height: 18px;
    }
  </style>
  