---
import Sidebar from '../components/Sidebar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="main-content">
      <slot />
    </div>
  </div>
</body>

<style>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --background-color-light: #f4f4f4;
    --background-color-dark: #333333;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
    --sidebar-bg-light: #ffffff;
    --sidebar-text-light: #000000;
    --sidebar-bg-dark: #000000;
    --sidebar-text-dark: #ffffff;
  }

  html {
    font-family: system-ui, sans-serif;
  }

  body {
    background: var(--background-color-light);
    color: var(--text-color-light);
    transition: background 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  body.dark-mode {
    background: var(--background-color-dark);
    color: var(--text-color-dark);
  }

  .container {
    display: flex;
    min-height: 100vh;
    width: 100%;
  }

  .main-content {
    flex: 1;
    background: inherit; /* Hereda el fondo del body */
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Cambia el diseño a columna en dispositivos pequeños */
    }

    .sidebar {
      width: 100%; /* El sidebar ocupa todo el ancho en dispositivos pequeños */
    }
  }
</style>
</html>
