---
import Sidebar from '../components/Sidebar.astro';
import DarkMode from '../components/DarkMode.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Sidebar />
      <div class="main-content">
        <DarkMode />
        <slot />
      </div>
    </div>
  </body>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
      --background-color-light: #f4f4f4;
      --background-color-dark: #333333;
      --text-color-light: #000000;
      --text-color-dark: #ffffff;
      --sidebar-bg-light: #ffffff;
      --sidebar-text-light: #000000;
      --sidebar-bg-dark: #000000;
      --sidebar-text-dark: #ffffff;
    }

    html {
      font-family: system-ui, sans-serif;
    }

    body {
      background: var(--background-color-light);
      color: var(--text-color-light);
      transition: background 0.3s, color 0.3s;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    body.dark-mode {
      background: var(--background-color-dark);
      color: var(--text-color-dark);
    }

    .sidebar {
      background-color: var(--sidebar-bg-light);
      color: var(--sidebar-text-light);
    }

    body.dark-mode .sidebar {
      background-color: var(--sidebar-bg-dark);
      color: var(--sidebar-text-dark);
    }

    #theme-toggle {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px 20px;
      cursor: pointer;
    }

    .container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      overflow: hidden;
    }

    .main-content {
      flex: 1;
      margin-left: 250px;
      transition: margin-left 0.3s, margin-top 0.3s;
    }

    @media (max-width: 768px) {
      .main-content {
        margin-left: 0;
        margin-top: 250px;
      }
    }

    @media (min-width: 769px) and (max-width: 1300px) {
      .main-content {
        margin-left: 0;
      }

      .sidebar-container.expanded ~ .main-content {
        margin-left: 250px;
      }
    }

    @media (min-width: 1301px) {
      .main-content {
        margin-left: 250px;
      }

      .sidebar-container.collapsed ~ .main-content {
        margin-left: 0;
      }
    }
  </style>
</html>
